<nav class="navbar navbar-expand-md navbar-light sticky-top">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarsExampleDefault">
    <div class="navBar">
      <ul class="navbar-nav mr-auto">
        <!-- <li class="nav-item active">
          <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
        </li> -->
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/search']">Search </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/fav']">Favourites</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/login']">Login </a>
        </li>
      </ul>
    </div>
  </div>
</nav>

<app-search (receive)="onreceive($event)"></app-search>
<app-list [city]='city'></app-list>

<link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
<footer>
  <div class="footer" id="footer">
    <div class="container">
      <div class="row">
        <div class="col-lg-2  col-md-3 col-sm-4 col-xs-6">
          <h3> Contact Us </h3>
          <ul>
            <li> Phone: 8755921886 </li>
            <li> vtaneja127@gmail.com </li>
          </ul>
        </div>
        <div class="col-lg-2  col-md-3 col-sm-4 col-xs-6">
          <h3> Products </h3>
          <ul>
            <li> Real Time Analysis </li>
            <li> Live weather</li>
          </ul>
        </div>
        <div class="col-lg-2  col-md-3 col-sm-4 col-xs-6">
          <h3> Locations </h3>
          <ul>
            <li> Noida </li>
            <li> Delhi </li>
          </ul>
        </div>
        <div class="col-lg-2  col-md-3 col-sm-4 col-xs-6">
          <h3> Our Team </h3>
          <ul>
            <li> Vibhor </li>
            <li> NIIT Technologies </li>
          </ul>
        </div>
        <div class="col-lg-3  col-md-3 col-sm-6 col-xs-12 ">
          <h3> Contact Us</h3>
          <ul>
            <li>
              <div class="input-append newsletter-box text-center">
                <input type="text" class="full text-center" placeholder="Email ">
                <button class="btn  bg-gray" type="button"> Submit <i class="fa fa-long-arrow-right"> </i> </button>
              </div>
            </li>
          </ul>
          <ul class="social">
            <li> <a href="#"> <i class=" fa fa-facebook">   </i> </a> </li>
            <li> <a href="#"> <i class="fa fa-twitter">   </i> </a> </li>
            <li> <a href="#"> <i class="fa fa-google-plus">   </i> </a> </li>
            <li> <a href="#"> <i class="fa fa-pinterest">   </i> </a> </li>
            <li> <a href="#"> <i class="fa fa-youtube">   </i> </a> </li>
          </ul>
        </div>
      </div>
      <!--/.row-->
    </div>
    <!--/.container-->
  </div>
  <!--/.footer-->
  
 </footer>
