<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-3 text-center">{{city.location.name}}</h1>
    <p class="lead text-center">{{city.location.country}}</p>
  </div>
  <!-- <img src="https://images7.alphacoders.com/416/thumb-1920-416242.jpg"> -->
</div>
<!-- <div class="jumbotron jumbotron-fluid logo">
<div class="container">
  <h1 class="display-3 text-center">{{city.location.name}</h1>
  <p class="lead">Come along and change your consumer experiences with us</p>

</div>
<img src="http://eskipaper.com/images/funky-wallpaper-4.jpg">
</div> -->
<div class="container">
  <div class="row">
    <div class="col-md-4 text-center mb-5" *ngFor="let city of city.forecast.forecastday">
      <div class="card">
        <img class="card-img-top" src="{{city.day.condition.icon}}" alt="Card image cap">
        <div class="card-body">
          <h4 class="card-title">Date: {{city.date}}</h4>
          <p class="card-text">Max. Temp : {{city.day.maxtemp_c}}&deg;C</p>
          <p class="card-text">Min. Temp : {{city.day.mintemp_c}}&deg;C</p>
          <p class="card-text">Condition : {{city.day.condition.text}}</p>
          <button class="btn btn-outline-success my-2 my-sm-0" type="button" (click)="saveData(city)">Add to Favourites</button>
        </div>
      </div>
    </div>
  </div>
</div>
<app-detail></app-detail>
