<body>
  <nav class="navbar navbar-expand-md navbar-light sticky-top">
    <a class="navbar-brand" href="#">WeatherApp</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarsExampleDefault">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/fav']">Favorites</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/search']">Search </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/login']">Login </a>
        </li>
      </ul>
    </div>
  </nav>
</body>
<!-- <div class="container favorites">
  <div class="row">
    <div class="col-md-4 text-center" *ngFor="let data of city">
      <h2>City: {{data.city}}</h2>
      <h2>Date: {{data.date}}</h2>
      <h2>MinTemp: {{data.mintemp}}</h2>
      <h2>MaxTemp: {{data.maxtemp}}</h2>
      <h2>Condition: {{data.condition}}</h2>
      <button class="btn btn-danger ml-2" (click)="delete(data)">Delete</button>
    </div>
  </div>
</div> -->

<div class="container favorites">
  <div class="row">
    <div class="col-md-4 text-center mb-5" *ngFor="let data of city">
      <div class="card">
        <div class="card-body">
          <h2>City: {{data.city}}</h2>
          <h2>Date: {{data.date}}</h2>
          <h2>MinTemp: {{data.mintemp}}</h2>
          <h2>MaxTemp: {{data.maxtemp}}</h2>
          <h2>Condition: {{data.condition}}</h2>
          <button class="btn btn-danger ml-2" (click)="delete(data)">Delete</button>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- <button class="btn btn-danger ml-2" (click)="edit(data)">Edit</button> -->
