<body>
  <div class="container logo">
    <div class="row">
    <div class="col-md-12">
      <img src="../assets/logo.png" class="img-fluid" alt="Responsive image">
    </div>
  </div>
  </div>
  <div class="container search">
    <div class="row">
      <div class="col-md-12">
        <div id="custom-search-input">
          <div class="input-group col-md-12">
            <form class="form-inline my-2 my-lg-0">
              <input #name class="form-control mr-sm-2" type="text" placeholder="Search City Name" aria-label="Search">
            </form>
          </div>
        </div>
      </div>
    </div>
    <div class="row buttonsearch">
      <div class="col-md-12 ">
        <!--  <span class="input-group-btn"> -->
        <button class="btn btn-secondary" (click)="searchCity(name.value)" [routerLink]="['/search']">Search
          <i class="glyphicon glyphicon-search"></i>
        </button>
      </div>
    </div>
  </div>
</body>
